* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 80%;
}

:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0d0d0d;
}

body {
  background: var(--body-background);
  color: var(--text-color);
  height: 100vh;
}

header {
  background-image: url("/assets/background.png");
  min-height: 1000px;
  width: 100%;
}

header .header-main {
  padding: 72px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-main ul {
  list-style: none;
  display: flex;
  gap: 60px;
}

header .header-main ul li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 18px;
  line-height: 22px;
  opacity: 95%;
}

header .header-main ul li:hover {
  cursor: pointer;
  opacity: 100%;
}

header .header-main a {
  background: #ffffff;
  color: var(--black-text);
  height: 50px;
  width: 230px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  text-decoration: none;

  opacity: 95%;
}

header .header-main a:hover {
  opacity: 100%;
}

header .header-information {
  display: flex;
  justify-content: space-between;
  padding: 72px 80px;
}

.header-information .artists-info {
  width: 401px;
  height: 88px;
}

.header-information .artists-info p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--text-color);
}

.header-information .selected-artists {
  margin-top: 55px;

  display: flex;
  align-items: center;
  gap: 6px;
}

.header-information .selected-artists div {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header-information .real-artists {
  width: 596px;
  height: 246px;
}

.header-information .real-artists h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: var(--text-color);
}

.header-information .real-artists .logo {
  color: var(--color-logo);
}

.header-galeria {
  display: flex;
  flex-direction: column;
  padding: 0 8rem;
  gap: 60px;
}
.header-galeria div {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.header-galeria div img {
  border: 1px solid var(--text-color);
  width: 30%;
  height: 19%;
}

main {
  margin: 0 80px;
}

main .banner {
  width: 100%;
  height: 660px;
  display: flex;
  padding-top: 46px;
}

.banner .amout {
  width: 20%;
  height: 100%;
  border-right: 1px solid #5a5757;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 50px;
}

.banner .amout div {
  display: flex;
  flex-direction: column;
}

.banner .amout div h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  color: #ffffff;
}

.banner .amout div small {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #5a5757;
}

.banner .banner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 660px;
  width: 100%;
}

.banner-content .info {
  display: flex;
  justify-content: space-around;
}

.banner-content .info div {
  max-width: 435px;
}

.banner-content .info div p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  gap: 63px;
}

.banner-content .info div p a {
  color: #ffffff;
}

.banner-content img {
  height: 300px;
  width: 100%;
}

.more-popular {
  margin: 150px 80px;
  height: 937px;
}

.more-popular > div {
  margin-top: 158px;
  display: flex;
  justify-content: space-between;
}

.more-popular h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: var(--text-color);
}

.more-popular h1 strong {
  color: var(--color-logo);
}

.more-popular .card {
  width: 348.9px;
  height: 337px;
}

.more-popular .card div {
  display: flex;
  justify-content: space-between;
}

.more-popular .card div strong {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 37px;
  color: var(--text-color);
}

.more-popular .card .nome {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #5a5757;
}

.more-popular .card .amout {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-logo);
}

.more-popular .card img {
  margin-top: 50px;
}

.vertical-line {
  border: 1px solid #5a5757;
}

.melhores-artistas {
  margin: 150px 80px;
  height: 682px;

  display: flex;
  flex-direction: column;
  gap: 100px;
}

.melhores-artistas .card-artista {
  width: 350px;
  height: 150px;
  background: var(--card-color);
}

.melhores-artistas .card-artista.women {
  background: var(--color-logo);
}

.melhores-artistas .card-artista.women div small {
  color: var(--text-color);
}

.melhores-artistas .title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.melhores-artistas .title h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #ffffff;
}

.melhores-artistas .title h1 strong {
  color: #ff5b50;
}

.group-melhores {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.group-melhores .card-artista {
  display: flex;
  align-items: center;
}

.group-melhores .card-artista img {
  width: 100px;
  height: 100px;
  margin: 25px 25px;
}

.group-melhores .card-artista div {
  display: flex;
  flex-direction: column;
}

.group-melhores .card-artista div strong {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-color);
}

.group-melhores .card-artista div small {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-logo);
}

.footer-melhores-artistas {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-melhores-artistas a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-color);
  text-decoration: none;
}

footer {
  height: 709px;
  background: #252525;
}

.footer-logo-button {
  margin: 0px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 220px;
}

.footer-logo-button button {
  width: 80px;
  height: 80px;
  background: #ff5b50;
  border: 0;
  opacity: 85%;
}

.footer-logo-button button:hover {
  cursor: pointer;
  opacity: 100%;
}

.horizontal-line {
  border: 1px solid #5a5757;
}

.footer-content {
  display: flex;
}

.section-novidades {
  height: 330px;
  width: 544px;
  border-right: 1px solid #5a5757;

  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 80px;
}

.section-novidades h1,
h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
}

.section-novidades h2 {
  color: var(--color-logo);
}

.section-novidades div {
  display: flex;
  margin-right: 10px;
  gap: 0;
}

.section-novidades div input {
  width: 250px;
  height: 66px;
  padding: 0 20px;
  border: 0;
  outline: 0;
  background: #0d0d0d;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #5a5757;
}

.section-novidades div button {
  width: 122px;
  height: 66px;
  border: 0;
  outline: 0;
  margin-left: -3px;
}

.section-novidades div button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.section-links {
  height: 330px;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-links ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section-links ul li {
  list-style: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #5a5757;
}

.section-links ul .li-title {
  color: #ffffff;
  font-weight: 700;
}

.footer-rodape {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
}

.footer-rodape a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #5a5757;

  text-decoration: none;
}

.footer-rodape .icons-link {
    width: 270px;
    height: 30px;
    
    display: flex;
    justify-content: space-between
}

.footer-rodape .icons-link img:hover {
    cursor: pointer;
 }